$violet: #f3e6d5;
$compl1: #c9b677;
$compl2: #82c94f;

header {
  background: $violet;
}

.section__jumbotron--bg {
  background: url(../Images/jumbo.jpg);
  background-size: cover;
  height: 35rem;
  background-position: 50%;
}

.card__body--bg {
//   background: linear-gradient(to bottom, #ffffff, #c2c2c2);
background: linear-gradient(to bottom, #fcfcfc,#567a8d );
// }
}

.bg-compl{ background: #A69681;}
