@import "medidas";

.contacto__forms {
 
  input {
    height: 2.5rem;
    width: 27rem;
    min-width: 20rem;
    color: #fcfcfc   ;
    background:  #A69681;
  }
  textarea {
    height: 6.5rem;
    width: 27rem;
    min-width: 20rem;
    color: #fcfcfc   ;
    background:  #A69681;
  }
}
