
/* header */
/* .bg-title {
  background: #563d7c;
} */
/* .titulo{
  font-size: 3.2rem;
  padding: 1rem 0;
} */
/* .nav-text{
  font-size: 1.2rem;

} */
/* .nav-text:hover{
  background-color: #43276d;
  border-radius: 4px;
} */

/* jumbotron */
/* .section__jumbotron--bg{
  background: url(../Images/jumbo.jpg);
  background-size: cover;
  height: 35rem;
  background-position: 50%;
  
} */


/*  section destacados  */

/* .destacados__card--1 {
  margin: 3rem 0;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 1rem;
  background: #C9B677;
}

.destacados__card--1  {
  margin: 3rem 0;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border: bottom right radius 1.5rem;
  padding: 1rem;
  background-color: #82C94F;
  
} */


